* {
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

h1 {
    color: #6295A2;
}

.info-container{
    display: flex;
    justify-content: center;
    gap: 0px;
    width: 100%;
    margin-bottom: 0px;
}

input {
    background-color: #6295A2;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    margin: 10px 0px;
    padding: 10px;
    width: 25%;
    height: auto;
    border: 1px solid #6295A2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

input:focus {
    border: 1px solid black;
}

.entry-btn {
    background-color: #538392;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px 15px;
    margin-left: 0px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.reset-btn {
    background-color: #538392;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    width: 100%;
    padding: 10px 15px;
    margin-top: 0px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.opacity-guide {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.low-to-high, .high-to-low {
    background-color: #538392;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    width: 100%;
    padding: 10px 15px;
    margin-top: 0px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.square-container {
    width: 80vmin;
    height: 80vmin;
    max-width: 400px;
    border: 2px solid #6295A2;
    padding: 0px;
}

input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
